<link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
<div class="container">
    <div class="container">
        <div class="jumbotron d-flex align-items-center justify-content-center bg-warning ">
            <h1 style="font-family: 'Gelasio', serif;font-weight:600;">
                <%=product.title%>
            </h1>
        </div>


        <img src="<%=product.image%>" class="rounded mx-auto d-block">

        <div class="card mx-auto " style="width:50rem;border:10px solid #e6dbda;padding-left:0;padding-right:0;margin-top:50px;">

            <div class="card-body" class="card-img-top">
                <p class=" card-text text-center" style="font-family: 'Gelasio', serif;font-weight:500;">
                    <%=product.description%>
                </p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">Price: <strong>Rs.<%=product.price%></strong></li>

            </ul>
            <div class="card-body d-flex justify-content-center">
                <button class="btn primary-btn" type="button" data-toggle="collapse" data-target="#user-chat-box" aria-expanded="false" aria-controls="collapseExample" style="margin-right:18px;">
				negotiate
			  </button>
                <a class="btn btn-success card-link cart-toggler" id="item-<%=product._id%>" href="#">
				Add To Cart
			</a>
                <a class="btn btn-danger card-link" href="#">
				Lock
			</a>
            </div>
        </div>
    </div>

</div>