<!-- Hero Section Begin -->
<section class="hero-section">
    <div id="root">

    </div>
    <div class="hero-items owl-carousel">
        <div class="single-hero-items set-bg" data-setbg="img/hero-1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <!-- <span>Bag,kids</span> -->
                        <div class="off-card">
                            <h2>Sale <span>50%</span></h2>
                        </div>
                        <h1>Black friday</h1>
                        <p>Fresh farm products straight out of field at your fingertips at most reasonable prices ever
                        </p>
                        <button class="btn primary-btn" type="button" data-toggle="collapse" data-target="#user-chat-box" aria-expanded="false" aria-controls="collapseExample">
                            Buy Now
                        </button>

                    </div>
                </div>

            </div>
        </div>
        <div class="single-hero-items set-bg" data-setbg="img/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="off-card">
                            <h2>Sale <span>50%</span></h2>
                        </div>
                        <!-- <span>Bag,kids</span> -->
                        <h1>Black friday</h1>
                        <p>Fresh farm products straight out of field at your fingertips at most reasonable prices ever
                        </p>
                        <button class="btn primary-btn" type="button" data-toggle="collapse" data-target="#user-chat-box" aria-expanded="false" aria-controls="collapseExample">
                            Buy Now
                        </button>

                    </div>
                </div>

            </div>
        </div>
        <div class="single-hero-items set-bg" data-setbg="img/hero-3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <!-- <span>Bag,kids</span> -->
                        <div class="off-card">
                            <h2>Sale <span>50%</span></h2>
                        </div>
                        <h1>Black friday</h1>
                        <p>Fresh farm products straight out of field at your fingertips at most reasonable prices ever
                        </p>
                        <button class="btn primary-btn" type="button" data-toggle="collapse" data-target="#user-chat-box" aria-expanded="false" aria-controls="collapseExample">
                            Buy Now
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Banner Section Begin -->
<div class="banner-section spad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="img/banner-1.jpg" alt="">
                    <div class="inner-text">
                        <h4>Vegetables</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="img/banner-3.jpg" alt="">
                    <div class="inner-text">
                        <h4>Cereal</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-banner">
                    <img src="img/banner-2.jpg" alt="">
                    <div class="inner-text">
                        <h4>Fruit</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Section End -->
<section>
    <div class="banner-section mt-2 pt-0" style="text-align: center;">
        <div class="row" style="background-color: #FEE140;
    background-image: linear-gradient(to bottom right, #f8f8f0 100%, #e7ab3c 0%); box-shadow:0px 0px 20px 8px  #f8f8f0;">
            <div class="col-lg-8 offset-lg-2">
                <div class="inner-text mt-lg-5">
                    <h3>We Offer Wide Range of Exotic Fruits/Vegetables</h3>
                </div>
                <!-- putting it here -->

                <div class="row">
                    <div class="col d-flex align-items-center">
                        <div class="product-slider owl-carousel">
                            <%for(let item of items){%>
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="<%=item.image%>" alt="">
                                        <div class="sale">Sale</div>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="/order/buy_product/<%=item._id%>">Buy</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                        <li class="quick-view"><a href="/order/buy_product/<%=item._id%>">Buy</a></li>
                                        <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                    </ul> -->


                                </div>
                                <!-- <div class="pi-text">
                                    <div class="catagory-name">vegies</div>
                                    <a href="#">
                                        <h5>
                                            <%=item.title%>
                                        </h5>
                                    </a>
                                    <div class="product-price">
                                        Rs.
                                        <%=item.price%>

                                    </div>
                                </div> -->

                                <%}%>
                        </div>
                    </div>
                </div class="row">

                <!-- putting it here -->

                <!-- <section class="slideshow">
                    <div class="content">
                        <div class="content-carrousel">
                            <figure class="shadow"><img src="img/broccli.jpg"></figure>
                            <figure class="shadow"><img src="img/capsicum.jpg"></figure>
                            <figure class="shadow"><img src="img/dragon.jpg"></figure>
                            <figure class="shadow"><img src="img/kiwi2.jpg"></figure>
                            <figure class="shadow"><img src="img/jackfruit.jpg"></figure>
                            <figure class="shadow"><img src="img/lettuce.jpg"></figure>
                            <figure class="shadow"><img src="img/babycorn.jpg"></figure>
                            <figure class="shadow"><img src="img/mangoes.jpg"></figure>
                            <figure class="shadow"><img src="img/mangooseteen.jpg"></figure>
                        </div>
                    </div>
                </section> -->
            </div>
        </div>
    </div>
</section>
<!-- Man Banner Section Begin -->
<section class="women-banner spad">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-lg-8 d-flex align-items-center">
                <div class="product-slider owl-carousel">
                    <%for(let item of items){%>
                        <div class="product-item">
                            <div class="pi-pic">
                                <img src="<%=item.image%>" alt="">
                                <div class="sale">Sale</div>
                                <div class="icon">
                                    <i class="icon_heart_alt"></i>
                                </div>
                                <ul>
                                    <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                    <li class="quick-view"><a href="/buy_product/<%=item._id%>">Buy</a></li>
                                    <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <div class="catagory-name">vegies</div>
                                <a href="#">
                                    <h5>
                                        <%=item.title%>
                                    </h5>
                                </a>
                                <div class="product-price">
                                    Rs.
                                    <%=item.price%>

                                </div>
                            </div>
                        </div>

                        <%}%>
                </div>
            </div> -->
            <!-- puttin it here -->


            <section class="slideshow">
                <div class="content">
                    <div class="content-carrousel">
                        <figure class="shadow"><img src="img/broccli.jpg"></figure>
                        <figure class="shadow"><img src="img/capsicum.jpg"></figure>
                        <figure class="shadow"><img src="img/dragon.jpg"></figure>
                        <figure class="shadow"><img src="img/kiwi2.jpg"></figure>
                        <figure class="shadow"><img src="img/jackfruit.jpg"></figure>
                        <figure class="shadow"><img src="img/lettuce.jpg"></figure>
                        <figure class="shadow"><img src="img/babycorn.jpg"></figure>
                        <figure class="shadow"><img src="img/mangoes.jpg"></figure>
                        <figure class="shadow"><img src="img/mangooseteen.jpg"></figure>
                    </div>
                </div>
            </section>



            <!-- putting it here  -->
            <div class="col-lg-3 offset-lg-1" id="side-image">
                <div class="product-large set-bg " data-setbg="img/products/vege-large.jpg">
                    <h2>Farm Fresh</h2>
                    <a href="#">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Man Banner Section End -->

<!-- Instagram Section Begin -->
<!-- <div class="instagram-photo">
    <div class="insta-item set-bg" data-setbg="img/insta-1.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/insta-2.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/insta-3.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/insta-4.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/insta-5.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
    <div class="insta-item set-bg" data-setbg="img/insta-6.jpg">
        <div class="inside-text">
            <i class="ti-instagram"></i>
            <h5><a href="#">colorlib_Collection</a></h5>
        </div>
    </div>
</div> -->
<!-- Instagram Section End -->

<!-- Latest Blog Section Begin -->
<section class="latest-blog spad">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>From The Blog</h2>
                </div>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-blog">
                    <img src="img/latest-1.jpg" alt="">
                    <div class="latest-text">
                        <div class="tag-list">
                            <div class="tag-item">
                                <i class="fa fa-calendar-o"></i>
                                May 4,2019
                            </div>
                            <div class="tag-item">
                                <i class="fa fa-comment-o"></i>
                                5
                            </div>
                        </div>
                        <a href="#">
                            <h4>The Best Street Style From London Fashion Week</h4>
                        </a>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-blog">
                    <img src="img/latest-2.jpg" alt="">
                    <div class="latest-text">
                        <div class="tag-list">
                            <div class="tag-item">
                                <i class="fa fa-calendar-o"></i>
                                May 4,2019
                            </div>
                            <div class="tag-item">
                                <i class="fa fa-comment-o"></i>
                                5
                            </div>
                        </div>
                        <a href="#">
                            <h4>Vogue's Ultimate Guide To Autumn/Winter 2019 Shoes</h4>
                        </a>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-blog">
                    <img src="img/latest-3.jpg" alt="">
                    <div class="latest-text">
                        <div class="tag-list">
                            <div class="tag-item">
                                <i class="fa fa-calendar-o"></i>
                                May 4,2019
                            </div>
                            <div class="tag-item">
                                <i class="fa fa-comment-o"></i>
                                5
                            </div>
                        </div>
                        <a href="#">
                            <h4>How To Brighten Your Wardrobe With A Dash Of Lime</h4>
                        </a>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- Deal Of The Week Section Begin-->
        <section class="deal-of-week set-bg spad" data-setbg="img/kiwi.jpg">
            <div class="container">
                <div class="col-lg-6 text-center offset-lg-8">
                    <div class="section-title">
                        <h2>Deal Of The Week</h2>
                        <p>Fresh farm products straight out of field at your fingertips at most reasonable prices ever </p>
                        <div class="product-price">
                            Rs 35.00
                            <span></span>
                        </div>
                    </div>
                    <div class="countdown-timer" id="countdown">
                        <div class="cd-item">
                            <span>56</span>
                            <p>Days</p>
                        </div>
                        <div class="cd-item">
                            <span>12</span>
                            <p>Hrs</p>
                        </div>
                        <div class="cd-item">
                            <span>40</span>
                            <p>Mins</p>
                        </div>
                        <div class="cd-item">
                            <span>52</span>
                            <p>Secs</p>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">Shop Now</a>
                </div>
            </div>
        </section>
        <!-- Deal Of The Week Section End -->

        <div class="benefit-items">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="img/icon-1.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Free Shipping</h6>
                            <p>For all order over 99$</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="img/icon-2.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Delivery On Time</h6>
                            <p>If good have prolems</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-benefit">
                        <div class="sb-icon">
                            <img src="img/icon-1.png" alt="">
                        </div>
                        <div class="sb-text">
                            <h6>Secure Payment</h6>
                            <p>100% secure payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    $(window).resize(function() {

        if ($(document).width() <= 500) {

            $('#side-image').hide();
        } else {
            $('#side-image').show();
        }
    });
</script>
<!-- <script src="../src/index.js"></script> -->
<script src="../dist/bundle.js"></script>


<!-- Latest Blog Section End -->